@model RefreshMyStyleApp.ViewModels.ApplicationUserImageViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="img-container" style="text-align: center; padding-bottom: 1rem">
    <p>
        <img src="~/images/profileImages/@Html.DisplayFor(m => m.AppUserNotLoggedIn.ProfileImageName)" width="100" height="75" class="mr-3 rounded-circle img-thumbnail shadow-sm" />
    </p>
    <h1>@Html.DisplayFor(model => model.AppUserNotLoggedIn.FullName)</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light nav-hover">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item" style="color: white">
                    <a class="nav-link" style="color: white" asp-action="Index">
                        Home
                    </a>
                </li>
                <li class="nav-item" style="color: white">
                    <a class="nav-link" style="color: white" asp-action="SearchUsers" asp-controller="ApplicationUsers">
                        Search Users
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="reg-container">
    <div class="row">
        <div class="col-sm-4 detail-img-cont">
            @foreach (var img in Model.Images)
            {
                <div>
                    <div class="card h-100" style="padding-bottom: 0.3rem">
                        <img src="~/images/items/@img.ImageFilePath" class="card-img-top img-fluid img-thumbnail" alt="@img.ImageName" />
                        <div class="card-body">
                            <h5 class="card-title">@img.ImageName</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@img.ClothingCategory</h6>
                            <p class="card-text"> @img.Description</p>
                            <p class="card-text">Color: @img.Color</p>
                            <p class="card-text">Size: @img.Size</p>
                            <p class="card-text">
                                Status: @img.ItemStatus
                            </p>
                            <hr />
                            <div class="row" style="text-align: center">
                                <div class="col col-sml-6">
                                    <a asp-action="LikeImage" asp-controller="ApplicationUsers" asp-route-id="@img.Id">
                                        <button type="submit" class="btn btn-default btn-sm" style="background-color: #eff7e1">
                                            Like
                                        </button>
                                    </a>
                                </div>
                                <div class="col col-sm-6">
                                    @if (img.IsClaimed == true)
                                    {
                                        <p>Item was claimed by: @img.ClaimedByName </p>
                                    }
                                    else
                                    {
                                        <a asp-action="ClaimImage" asp-controller="ApplicationUsers" asp-route-id="@img.Id">
                                            <input type="hidden" asp-for="@img.ApplicationUserId name=" name" value="" />
                                            <button type="submit" class="btn btn-default btn-sm" style="background-color: #eff7e1">
                                                Claim
                                            </button>
                                        </a>
                                    }
                                 
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            }

        </div>
        <div class="col-sm-4 detail-events-cont">
            <div style="text-align: center">
                <h3>Events</h3>
            </div>
            @foreach (var e in Model.Events)
            {
                @if (e.EventCreatorId == Model.AppUserNotLoggedIn.Id)
                {
                    <div class="card" style="padding: 10px">
                        <div class="card-header" style="background-color: #a2d0c1">
                            <h5 class="text-light">
                                Event Date: @Html.DisplayFor(e => e.Event.EventDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                            </h5>
                        </div>
                        <div class="card-body" style="background-color: #eff7e1">
                            <h5 class="card-title">@Html.DisplayFor(e => e.Event.EventTitle)</h5>
                            <p class="card-text">@Html.DisplayFor(e => e.Event.Message)</p>
                            <hr />
                            <p>Location Address: @Html.DisplayFor(e => e.Event.Address)</p>

                            @if (e.IsCanceled)
                            {
                                <h2>@Html.DisplayFor(e => e.Event.Message)</h2>
                                <h6>@Html.DisplayFor(e => e.Event.DateCanceled, "{0:MM/dd/yyyy}", new { @class = "form-control" }) </h6>
                            }
                            else
                            {
                                <a asp-action="GetAttendee" asp-controller="ApplicationUsers" asp-route-id="@e.EventCreatorId">
                                    <button style="background-color:#a2d0c1">
                                        Attend This Event
                                    </button>
                                </a>
                            }

                        </div>
                        <div class="card-footer text-muted" style="text-decoration-color: #ffffff; background-color:#a2d0c1">
                            Created on: @Html.DisplayFor(item => item.Event.DatePosted)
                        </div>
                        <div>
                            <h6 class="text-center">Attendees</h6>
                            @foreach (var item in Model.Attendees)
                            {
                                <p class="text-center">@item.AttendeeName</p>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div style="text-align: center">
                        <p>There are no events.</p>
                    </div>
                }
            }
        </div>
        <div class="col-sm-4 details-post-cont">
            <div>
                <div style="text-align: center">
                    <h3>Recent Posts</h3>
                </div>

                @if (Model.Posts != null)
                {
                    @foreach (var post in Model.Posts)
                    {
                        <div class="post-container">
                            <div class="postbox">
                                <div class="postContent">
                                    <div class="row">
                                        <div class="col-sm-5 tiny-text">
                                            <p> @post.PostByUser  </p>
                                        </div>
                                        <div class="col-sm-7 tiny-text">
                                            <p>@post.DateTimePosted</p>
                                        </div>
                                        <p>@post.PostContent</p>
                                    </div>
                                </div>
                                <div style="padding-left: 1rem">
                                    <a class="tiny-text" style="text-decoration: none" data-bs-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">See Comments</a>
                                </div>
                                <div>
                                    <div class="comment-container">
                                        @foreach (var comment in Model.Comments)
                                        {
                                            @if (comment.PostId == post.Id)
                                            {
                                                <div class="collapse multi-collapse" id="multiCollapseExample1">
                                                    <div class="comment-box" style="background-color: #eff7e1">
                                                        <div class="row comment-content">
                                                            <div class="tiny-text col-sm-5">
                                                                @comment.CommentorFullName
                                                            </div>
                                                            <div class="tiny-text col-sm-7">
                                                                @comment.CommentDateTime
                                                            </div>
                                                            <p>@comment.CommentContent</p>
                                                        </div>
                                                        <a class="tiny-text" style="text-decoration: none" asp-action="DeleteCommentDetails" asp-route-id="@comment.Id" asp-controller="ApplicationUsers">
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>

                                            }
                                        }
                                    </div>
                                    <div>
                                        <form asp-action="AddCommentToDetails" asp-controller="ApplicationUsers" method="post">
                                            <div>
                                                <input type="hidden" asp-for="Comment.PostId" value="@post.Id" />
                                                <textarea asp-for="Comment.CommentContent" maxlength="100" class="form-control" id="" placeholder="Comment..."></textarea>
                                            </div>
                                            <div>
                                                <a asp-action="AddCommentToDetails" asp-controller="ApplicationUsers" asp-route-id="@post.Id">
                                                    <button type="submit">
                                                        Add comment
                                                    </button>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                    }
                }
                else
                {
                    <div style="text-align: center">
                        <p>There are no posts yet.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

