@model RefreshMyStyleApp.ViewModels.ApplicationUserImageViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="container" style="text-align: center">
    <div>
        <h1 style="text-align: center">@Html.DisplayFor(model => model.AppUserNotLoggedIn.FullName)</h1>
        <p>
            <img src="~/images/profileImages/@Html.DisplayFor(m => m.AppUserNotLoggedIn.ProfileImageName)" width="100" height="75" class="mr-3 rounded-circle img-thumbnail shadow-sm" />

        </p>
    </div>
    <div class="row">

        <div class="col-lg-4" style="margin-top: 3rem">

            @foreach (var item in Model.Images)
            {
                <div>
                    <div class="card h-100" style="display: flex; padding: .05rem">
                        <img src="~/images/items/@item.ImageTitle" class="card-img-top img-fluid img-thumbnail" alt="@item.ImageName" />

                        <div class="card-body">
                            <h5 class="card-title">@item.ImageName</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@item.ClothingCategory</h6>
                            <p class="card-text"> @item.Description</p>
                            <p class="card-text">Color: @item.Color</p>
                            <p class="card-text">Size: @item.Size</p>
                            <p class="card-text">
                                Status: @item.ItemStatus
                            </p>
                            <p>
                                <a asp-action="LikeImage" asp-controller="ApplicationUsers" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-default btn-sm" style="background-color: #eff7e1">
                                        Like
                                    </button>
                                </a>
                            </p>
                            <p>
                                <a asp-action="ClaimImage" asp-controller="ApplicationUsers" asp-route-id="@item.Id">
                                    <input type="hidden" asp-for="@item.ApplicationUserId name=" name" value="" />
                                    <button type="submit" class="btn btn-default btn-sm" style="background-color: #eff7e1">
                                        Claim
                                    </button>
                                </a>
                            </p>


                        </div>

                    </div>
                </div>


            }

        </div>
        <div class="col-lg-4" style="margin-top: 3rem">

            @foreach (var e in Model.Events)
            {
                @if (e.EventCreatorId == Model.AppUserNotLoggedIn.Id)
                {
                    <div class="card" style="padding: 10px">
                        <div class="card-header" style="background-color: #a2d0c1">
                            <h5 class="text-light">
                                Event Date: @Html.DisplayFor(e => e.Event.EventDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                            </h5>
                        </div>
                        <div class="card-body" style="background-color: #eff7e1">
                            <h5 class="card-title">@Html.DisplayFor(e => e.Event.EventTitle)</h5>
                            <p class="card-text">@Html.DisplayFor(e => e.Event.Message)</p>
                            <hr />
                            <p>Location Address: @Html.DisplayFor(e => e.Event.Address)</p>
                            @if (e.IsCanceled)
                            {
                                <h2>@Html.DisplayFor(e => e.Event.Message)</h2>
                                <h6>@Html.DisplayFor(e => e.Event.DateCanceled, "{0:MM/dd/yyyy}", new { @class = "form-control" }) </h6>
                            }
                            <a asp-action="GetAttendee" asp-controller="ApplicationUsers" asp-route-id="@e.Id">
                                <button>
                                    Attend This Event
                                </button>
                            </a>
                        </div>
                        <div class="card-footer text-muted" style="text-decoration-color: #ffffff; background-color:#a2d0c1">
                            Created on: @Html.DisplayFor(item => item.Event.DatePosted)
                        </div>
                        <div>
                            <h6 class="text-center">Attendees</h6>
                            @foreach (var item in Model.Attendees)
                            {
                                <p class="text-center">@item.AttendeeName</p>
                            }
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-lg-4" style="margin-top: 3rem">
            <div>
                <h3 class="text-dark font-italic">Recent Posts</h3>
                @foreach (var post in Model.Posts)
                {
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item" style="background-color: #eeeeee">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <p> Posted by: @post.PostByUser  Title: @post.PostTitle </p>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body" style="background-color: aliceblue">
                                    <p>@post.PostContent</p>
                                    <p>Date Posted: @post.DateTimePosted</p>
                                    <input type="hidden" asp-for="Post.Id" value="@post.Id" />
                                    <a asp-action="DeletePost" asp-route-id="@post.Id" asp-controller="ApplicationUsers">
                                        <button type="submit" class="btn btn-default btn-sm" style="background-color: #a2d0c1">
                                            Delete Post
                                        </button>
                                    </a>
                                    <h5>Comments</h5>
                                    <div style="background-color: #eff7e1">
                                        @foreach (var comment in Model.Comments)
                                        { 
                                            @if (comment.PostId == post.Id)
                                            {
                                                <div>
                                                    <div>
                                                        Commented by:<p>@comment.CommentorFullName</p>
                                                    </div>
                                                    <div>
                                                        <p>@comment.CommentContent</p>
                                                    </div>
                                                    <a asp-action="DeleteComment" asp-route-id="@comment.Id" asp-controller="ApplicationUsers">
                                                        <button type="submit" class="btn btn-default btn-sm" style="background-color: #ABEDE3">
                                                            Delete Comment
                                                        </button>
                                                    </a>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div>
                                        <form asp-action="AddCommentToDetails" asp-controller="ApplicationUsers" asp-route-comment="@Model.Comment" method="post">
                                        <div class="form-group col-md-10" style="background-color: #eff7e1">
                                            <input type="hidden" asp-for="Comment.PostId" asp-route-comment="@Model.Comment" value="@post.Id" />
                                            <textarea  asp-for="Comment.CommentContent" maxlength="50" class="form-control" id="" placeholder="Comment..."></textarea>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <a asp-action="AddCommentToDetails" asp-controller="ApplicationUsers" asp-route-id="@post.Id">
                                                <input type="hidden" asp-for="@Model.Comment" name="name" value="" />
                                                <button type="submit" class="btn" style="background-color: #F0DE4D">
                                                    Comment
                                                </button>
                                            </a>

                                        </div>
                                        </form>
                                    </div>
                                </div>

                            </div>



                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

