@model RefreshMyStyleApp.ViewModels.ApplicationUserImageViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<h1>@Html.DisplayFor(model => model.AppUserNotLoggedIn.FullName)</h1>
<p>
    <img src="~/images/profileImages/@Html.DisplayFor(m => m.AppUserNotLoggedIn.ProfileImageName)" />

</p>


<div class="container-fluid">
    <div class="row">

        <div>
            @if(Model.Images != null)
            {
                @foreach (var item in Model.Images)
                {
                    <div class="col-md">

                        <div class="card h-100" style="width: 15rem; display: flex">
                            <img src="~/images/items/@item.ImageTitle" class="card-img-top img-fluid img-thumbnail" alt="@item.ImageName" />
                           
                            <div class="card-body">
                                <h5 class="card-title">@item.ImageName</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@item.ClothingCategory</h6>
                                <p class="card-text"> @item.Description</p>
                                <p class="card-text">Color: @item.Color</p>
                                <p class="card-text">Size: @item.Size</p>
                                <p class="card-text">
                                    Status: @item.ItemStatus
                                </p>
                                <a asp-action="LikeImage" asp-controller="ApplicationUsers" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-default btn-sm" style="background-color: #808080">
                                        Like
                                    </button>
                                </a>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>

                        </div>
                    </div>


                }
            }
        </div>

    </div>
</div>
@*<div>
        <table class="table">

            @foreach (var item in Model.Likes)
            {
                if (item.IsLiked == true)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.ApplicationUserId
                                @item.DateLiked
                                <a href="@item.Image"> <img src="~/images/items/@item.Image" height="50" width="50" /></a>
                            </td>
                        </tr>
                    </tbody>
                }

            }

        </table>
    </div>*@
@*<div>
        <h4>ApplicationUser</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppUserNotLoggedIn.FName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUserNotLoggedIn.FName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppUserNotLoggedIn.LName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUserNotLoggedIn.LName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppUserNotLoggedIn.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUserNotLoggedIn.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppUserNotLoggedIn.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUserNotLoggedIn.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppUserNotLoggedIn.ProfileImageName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppUserNotLoggedIn.ProfileImageName)
            </dd>
      
         
        </dl>
    </div>
<div>*@
    @*<a asp-action="Edit" asp-route-id="@Model.AppUserNotLoggedIn.Id">Edit</a> |*@
    @*<a asp-action="Index">Back to List</a>
</div>*@
