@model RefreshMyStyleApp.ViewModels.ApplicationUserImageViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<h1> @Model.ApplicationUser.FullName</h1>
<p>
    <img src="~/images/profileImages/@Model.ApplicationUser.ProfileImageName" />

</p>


<div class="container-fluid">
    <div class="row">

        <div>
            @if (Model.Images != null)
            {
                @foreach (var item in Model.Images)
                {

                    <div class="col-md">

                        <div class="card h-100" style="width: 15rem; display: flex">
                            <img src="~/images/items/@item.ImageTitle" class="card-img-top img-fluid img-thumbnail" alt="@item.ImageName" />
                            <div class="panel-body">
                                <form asp-action="AddLike" asp-controller="Images" class="text-right align-text-top">
                                    <input type="hidden" asp-for="ImageId" />
                                    <button asp-action="AddLike" value="@item.Id" type="submit" class="btn btn-sm" style="background-color: #0094ff">
                                        <span class="glyphicon glyphicon-heart"></span> Like
                                    </button>
                                </form>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@item.ImageName</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@item.ClothingCategory</h6>
                                <p class="card-text"> @item.Description</p>
                                <p class="card-text">Color: @item.Color</p>
                                <p class="card-text">Size: @item.Size</p>
                                <p class="card-text">
                                    Status: @item.ItemStatus
                                </p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>

                        </div>
                    </div>


                }
            }
        </div>

    </div>
</div>
@*<div>
    <table class="table">

        @foreach (var item in Model.Likes)
        {
            if (item.IsLiked == true)
            {
                <tbody>
                    <tr>
                        <td>
                            @item.ApplicationUserId
                            @item.DateLiked
                            <a href="@item.Image"> <img src="~/images/items/@item.Image" height="50" width="50" /></a>
                        </td>
                    </tr>
                </tbody>
            }

        }

    </table>
</div>*@
@*<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfileImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsGoing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsGoing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SearchUsers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SearchUsers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>
    </dl>
</div>*@
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApplicationUser.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
