@model RefreshMyStyleApp.ViewModels.EventViewModel

@{
    ViewData["Title"] = "EventList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <h1 class="text-center">My Events</h1>
    <p>
        <a asp-action="CreateEvent" asp-controller="ApplicationUsers" asp-route-newEvent="@Model.Event">
            <button type="button" class="btn btn-outline-warning btn-event">
                Create A New Event
            </button>
        </a>
    </p>
    <p>
        <a asp-action="Index">
            <button type="button" class="btn btn-outline-warning btn-event">
                Return to Profile
            </button>
        </a>
    </p>
  
</div>


<div>

    <hr />
    <div>
        @foreach (var e in Model.Events)
        {
            <div class="card text-center" style="padding: 10px">
                <div class="card-header" style="background-color: #a2d0c1">
                    <h5 class="text-light">
                        Event Date: @Html.DisplayFor(e => e.Event.EventDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                    </h5>
                </div>
                <div class="card-body" style="background-color: #eff7e1">
                    <h5 class="card-title">@Html.DisplayFor(e => e.Event.EventTitle)</h5>
                    <p class="card-text">@Html.DisplayFor(e => e.Event.Message)</p>
                    <hr />
                    <p>Location Address: @Html.DisplayFor(e => e.Event.Address)</p>
                    @if (e.IsCanceled)
                    {
                        <h2>@Html.DisplayFor(e => e.Event.Message)</h2>
                        <h6>@Html.DisplayFor(e => e.Event.DateCanceled, "{0:MM/dd/yyyy}", new { @class = "form-control" }) </h6>
                    }
                    @*<a asp-action="GetAttendee" asp-controller="ApplicationUsers" asp-route-attendee="@Model.Attendee">
                            <button>
                                Attend This Event
                            </button>
                        </a>*@
                </div>
                <div class="card-footer text-muted" style="background-color: #a2d0c1">
                    Created on: @Html.DisplayFor(item => item.Event.DatePosted)
                </div>
                <div>
                    <h6 class="text-center">Attendees</h6>
                    @foreach (var a in Model.Attendees)
                    {
                        @if (a.EventId == e.Id)
                        {
                            <p class="text-center">@a.AttendeeName</p>
                        }

                    }
                </div>
                
                <a asp-action="DeleteEvent" asp-controller="ApplicationUsers" asp-route-id="@e.Id">
                    <button type="submit" class="btn btn-default btn-sm">
                        Delete Event
                    </button>
                </a>
                <a asp-action="CancelEvent" asp-controller="ApplicationUsers" asp-route-id="@e.Id">
                    <button type="submit" class="btn btn-default btn-sm">
                        Cancel Event
                    </button>
                </a>
            </div>

        }
    </div>


</div>


