@model RefreshMyStyleApp.ViewModels.ApplicationUserImageViewModel

@{
    ViewData["Title"] = "GetLikes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Likes</h1>

<p>
    <a asp-action="Index" asp-controller="ApplicationUsers">Return to Profile</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(m => m.Like.DateLiked)*@
                Date
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Image)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.AppUserNotLoggedIn.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var like in Model.Likes)
        {
            <tr>

                <td>
                    @like.DateLiked
                </td>
                <td>
                    <p>
                       <img src="~/images/items/@like.ImageTitle" height="100" width="50" /> 
                    </p>
                </td>

                <td>
                    @like.LikedImageOwnerFullName
                </td>
                <td>
                 
                    <a asp-action="Details" asp-route-id="@like.UserId">Details</a> |
                    <a asp-action="DeleteLikedImage" asp-route-id="@like.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
