@model RefreshMyStyleApp.ViewModels.ApplicationUserImageViewModel

@{
    ViewData["Title"] = "GetLikes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LikeImage</h1>

<p>
    <a asp-action="Index" asp-controller="ApplicationUsers">Return to Profile</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Like.DateLiked)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Image)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ApplicationUser.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Likes) {
        <tr>

            <td>
                @Html.DisplayFor(item => item.Like.DateLiked)
            </td>
            <td>
                <p>
                    <img src="~/images/items/@item.Image.ImageTitle" height="100" width="50" />
                </p>
                
            </td>
            
            <td>
                @Html.DisplayFor(item => item.ApplicationUser.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
