@model IEnumerable<RefreshMyStyleApp.Models.Like>

@{
    ViewData["Title"] = "GetLikes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LikeImage</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateLiked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image.ApplicationUser.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DateLiked)
            </td>
            <td>
               <a href="@Html.DisplayFor(modelItem => item.Image.ImageFile)"> <img src="~/images/items/@Html.DisplayFor(modelItem => item.Image.ImageName)" height="50" width="50" /></a>
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Image.ApplicationUser.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
