@model RefreshMyStyleApp.ViewModels.ApplicationUserImageViewModel

@{
    ViewData["Title"] = "GetMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-light nav-hover">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item" style="color: white">
                <a class="nav-link" style="color: white" asp-action="Index">
                    Home
                </a>
            </li>
            <li class="nav-item" style="color: white">
                <a class="nav-link" style="color: white" asp-action="SearchUsers" asp-controller="ApplicationUsers">
                    Search Users
                </a>
            </li>

        </ul>
    </div>


</nav>
<div class="container1">
    <h1 style="text-align: center">My Messages</h1>

   
    @*<p>
            <a asp-action="CreateMessage" asp-controller="ApplicationUsers">
                <button type="button" class="btn btn-outline-warning btn-event">
                    Send A New Message
                </button>
            </a>
        </p>*@
    <hr />
    <div>
        <h5>Incoming Messages</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Received From
                    </th>
                    <th>
                        Item
                    </th>
                    <th>
                        Message
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var msg in Model.Messages)
                {
                    @if (msg.ReceiverId == Model.ApplicationUser.Id)
                    {
                        <tr>

                            <td>
                                @msg.DateMessageSent
                            </td>
                            <td>
                                @msg.SenderName
                            </td>
                            <td>
                                @if (msg.ImageFilePath != null)
                                {
                                    <p style="text-align: center">
                                        <img src="~/images/items/@msg.ImageFilePath" height="100" width="80" />
                                    </p>
                                }
                                else
                                {
                                    <p>No image included with this message.</p>
                                }

                            </td>

                            <td>
                                @msg.MessageContent
                            </td>
                            <td>
                                <p>
                                    <a asp-action="Details" asp-route-id="@msg.SenderID">
                                        <button type="button" class="btn btn-outline-warning btn-event">
                                            Details
                                        </button>
                                    </a>
                                </p>
                                <p>
                                    <a asp-action="DeleteMessage" asp-route-id="@msg.Id">
                                        <button type="button" class="btn btn-outline-warning btn-event">
                                            Delete
                                        </button>
                                    </a>

                                </p>
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>

    <hr />
    <hr />
    <hr />
    <div>
        <h5>OutGoing Messages</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Sent to
                    </th>
                    <th>
                        Item
                    </th>
                    <th>
                        Message
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var msg in Model.Messages)
                {
                    @if (msg.SenderID == Model.ApplicationUser.Id)
                    {
                        <tr>

                            <td>
                                @msg.DateMessageSent
                            </td>
                            <td>
                                @msg.ReceiverName
                            </td>
                            <td>
                                @if (msg.ImageFilePath != null)
                                {
                                    <p style="text-align: center">
                                        <img src="~/images/items/@msg.ImageFilePath" height="100" width="80" />
                                    </p>
                                }
                                else
                                {
                                    <p>No image included with this message.</p>
                                }

                            </td>

                            <td>
                                @msg.MessageContent
                            </td>
                            <td>
                                <p>
                                    <a asp-action="Details" asp-route-id="@msg.ReceiverId">
                                        <button type="button" class="btn btn-outline-warning btn-event">
                                            Details
                                        </button>
                                    </a>
                                </p>
                                <p>
                                    <a asp-action="DeleteMessage" asp-route-id="@msg.Id">
                                        <button type="button" class="btn btn-outline-warning btn-event">
                                            Delete
                                        </button>
                                    </a>

                                </p>
                                @*<p>
                                    <a asp-action="CreateMessage" asp-route-id="@msg.Id">
                                        <button type="button" class="btn btn-outline-warning btn-event">
                                            Reply
                                        </button>
                                    </a>

                                </p>*@
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>
