@model RefreshMyStyleApp.ViewModels.ApplicationUserImageViewModel

@{
    ViewData["Title"] = "GetMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">My Messages</h1>

<p>
    <a asp-action="Index" asp-controller="ApplicationUsers">
        <button type="button" class="btn btn-outline-warning btn-event">
            Return to Profile
        </button>
    </a>
</p>
<p>
    <a asp-action="SearchUsers" asp-controller="ApplicationUsers">
        <button type="button" class="btn btn-outline-warning btn-event">
            Search Users
        </button>
    </a>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>              
                Date
            </th>
            <th>               
                From
            </th>
            <th>              
                Item
            </th>
            <th>
                Message
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var msg in Model.Messages)
        {
            <tr>

                <td>
                    @msg.DateMessageSent
                </td>
                <td>
                    @msg.SenderName
                </td>
                <td>
                    <p style="text-align: center">
                        <img src="~/images/items/@msg.ImageFilePath" height="100" width="80" />
                    </p>
                </td>

                <td>
                    @msg.MessageContent
                </td>
                <td>
                    <p>
                        <a asp-action="Details" asp-route-id="@msg.SenderID">
                            <button type="button" class="btn btn-outline-warning btn-event">
                                Details
                            </button>
                        </a>
                    </p>
                    <p>
                        <a asp-action="DeleteMessage" asp-route-id="@msg.Id">
                            <button type="button" class="btn btn-outline-warning btn-event">
                                Delete
                            </button>
                        </a>

                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>

