@model RefreshMyStyleApp.ViewModels.ApplicationUserImageViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@*<h1> @Model.ApplicationUser.FullName</h1>*@
<p>
    @*<img src="~/images/profileImages/@Model.ApplicationUser.ProfileImageName" />*@

</p>



<!-- Vertical navbar -->
<div class="vertical-nav" id="sidebar" style="background-color: #eff7e1">
    <div class="py-4 px-3 mb-4">
        <div class="media d-flex align-items-center" style="background-color: #eff7e1">
            <p>
                <img src="~/images/profileImages/@Model.ApplicationUser.ProfileImageName" alt="Profile Image" width="80" height="50" class="mr-3 rounded-circle img-thumbnail shadow-sm">
            </p>
            <input type="hidden" asp-for="ApplicationUser.ProfileImageName" name="files" value="" />
            <div class="media-body">
                <h4 class="m-0" style="text-align: center"> @Model.ApplicationUser.FullName</h4>
                <p class="font-weight-light text-muted mb-0" style="text-align: center">Clothing Enthusiast</p>
            </div>
        </div>
    </div>
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>
    <a asp-action="SearchUsers" asp-controller="ApplicationUsers" asp-route-id="@Model.ApplicationUser.Id" class="nav-link text-dark font-italic">
        <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
        Search Users
    </a>
    <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Create New
    </a>
    <ul class="collapse" id="collapseExample">

        <li class="nav-item">
            <a asp-action="UploadProfileFiles" asp-controller="ApplicationUsers" asp-route-id="@Model.ApplicationUser.Id" class="nav-link text-dark font-italic">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                Upload Selfie
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="PostNewImage" asp-controller="Images" asp-route-id="@Model.ApplicationUser.Id" class="nav-link text-dark font-italic">
                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                Upload Item
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="NewPost" asp-controller="ApplicationUsers" asp-route-id="@Model.ApplicationUser.Id" class="nav-link text-dark font-italic">
                <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                Create A Post
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="CreateEvent" asp-controller="ApplicationUsers" asp-route-id="@Model.ApplicationUser.Id" class="nav-link text-dark font-italic">
                <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                Create An Event
            </a>
        </li>

    </ul>
    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Lists</p>

    <ul class="nav flex-column mb-0" style="background-color: #eff7e1">
        <li class="nav-item">
            <a asp-action="EventList" asp-controller="ApplicationUsers" asp-route-id="@Model.ApplicationUser.Id" class="nav-link text-dark font-italic">
                My Events
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="GetLikes" asp-controller="ApplicationUsers" asp-route-id="@Model.ApplicationUser.Id" class="nav-link text-dark font-italic">
                My Likes
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="GetClaims" asp-controller="ApplicationUsers" asp-route-id="@Model.ApplicationUser.Id" class="nav-link text-dark font-italic">
                My Claims
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="GetLikedAndClaimedItems" asp-controller="ApplicationUsers" asp-route-id="@Model.ApplicationUser.Id" class="nav-link text-dark font-italic">
                See who's interested!
            </a>
            @*@foreach(var claim in Model.Claims)
            {
                @if (claim.ClaimedById > 0)
                {
                    @Model.Claims.Count();
                }
            }*@
        </li>
    </ul>
</div>
<!-- End vertical navbar -->
<!-- Page content holder -->
<div class="page-content p-5" id="content">
    <!--Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4 toggle-btn"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>

    <div>
        <div class="row">
            <div class="col-lg-8">

                <div class="row">
                    @foreach (var item in Model.Images)
                    {

                        <div class="col-sm-6 col-">
                            <div class="card" style="width: 15rem">
                                <img src="~/images/items/@item.ImageFilePath" alt="@item.ImageName" />

                                <div class="card-body">
                                    <h5 class="card-title">@item.ImageName</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@item.ClothingCategory</h6>
                                    <p class="card-text"> @item.Description</p>
                                    <p class="card-text">Color: @item.Color</p>
                                    <p class="card-text">Size: @item.Size</p>
                                    <p class="card-text">Status: @item.ItemStatus</p>
                                    <p>
                                        <a asp-action="DeleteImage" asp-controller="Images" asp-route-id="@item.Id">
                                            <button type="submit" class="btn btn-default btn-sm" style="background-color: #a2d0c1">
                                                Delete Image
                                            </button>
                                        </a>
                                    </p>
                                    <p>
                                        <a asp-action="EditImage" asp-controller="Images" asp-route-id="@item.Id">
                                            <button type="submit" class="btn btn-default btn-sm" style="background-color: #a2d0c1">
                                                Edit
                                            </button>
                                        </a>
                                    </p>

                                </div>

                            </div>

                        </div>

                    }
                </div>

            </div>

            <div class="col-lg-4">
                <div>
                    <div>
                        <h3 class="text-dark font-italic">Recent Posts</h3>
                        @if (Model.Posts != null)
                        {
                            @foreach (var post in Model.Posts)
                            {
                                <div class="accordion" id="accordionExample post-color">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">

                                                <p>@post.PostTitle </p>
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body" style="background-color: #eff7e1">
                                                <p>@post.PostContent</p>
                                                <hr />
                                                <div class="tiny-text">
                                                    <p>Posted by: @post.PostByUser </p>
                                                    <p>Date Posted: @post.DateTimePosted</p>
                                                </div>

                                                <input type="hidden" asp-for="Post.Id" value="@post.Id" />
                                                <a asp-action="DeletePost" asp-route-id="@post.Id" asp-controller="ApplicationUsers">
                                                    <button type="submit" class="btn btn-default btn-sm" style="background-color: #a2d0c1">
                                                        Delete Post
                                                    </button>
                                                </a>
                                                <hr />
                                                <p>Comments</p>
                                                <hr />
                                                <div>
                                                    @foreach (var comment in Model.Comments)
                                                    {
                                                        @if (comment.PostId == post.Id)
                                                        {
                                                            <div>
                                                                <div>
                                                                    <p>@comment.CommentContent</p>
                                                                </div>
                                                                <div class="tiny-text" style="text-decoration-color:dimgray">
                                                                    <p> Commented by:  @comment.CommentorFullName</p>
                                                                    <p>Commented at: @comment.CommentDateTime</p>
                                                                </div>

                                                                <a asp-action="DeleteComment" asp-route-id="@comment.Id" asp-controller="ApplicationUsers">
                                                                    <button type="submit" class="btn btn-default btn-sm" style="background-color: #a2d0c1">
                                                                        Delete Comment
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                                <hr />
                                                <div>
                                                    <form asp-action="AddcommentToIndex" asp-controller="ApplicationUsers" method="post">
                                                        <div class="form-group col-md-10">
                                                            <input type="hidden" asp-for="Comment.PostId" value="@post.Id" />
                                                            <textarea asp-for="Comment.CommentContent" maxlength="50" class="form-control" id="" placeholder="Comment..."></textarea>
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <a asp-action="AddcommentToIndex" asp-controller="ApplicationUsers" asp-route-comment="@Model.Comment">
                                                                <button type="submit" class="btn" style="background-color:  #a2d0c1">
                                                                    Comment
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }
                        }
                        else
                        {
                            <p>There are no posts yet.</p>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
    @*<div class="separator"></div>*@








    <div>
        @*<a asp-action="Edit" asp-route-id="@Model.ApplicationUser.Id">Edit</a> |*@
        @*<a asp-action="UploadProfileFiles" asp-controller="ApplicationUsers" asp-route-id="@Model.ApplicationUser.Id">Upload Profile Image</a> |*@
        @*<a asp-action="PostNewImage" asp-controller="Images" asp-route-id="@Model.ApplicationUser.Id">Upload pictures</a>*@
        @*<a asp-action="SearchUsers" asp-controller="ApplicationUsers" asp-route-id="@Model.ApplicationUser.Id">SEARCH USERS</a>*@
        @*<a asp-action="Details" asp-controller="ApplicationUsers" asp-route-id="@Model.ApplicationUser.Id">Details</a>
            <a asp-action="Index">Back to List</a>*@
    </div>


