@model RefreshMyStyleApp.ViewModels.ApplicationUserImageViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> @Model.ApplicationUser.FullName</h1>
<p>
    <img src="~/images/profileImages/@Model.ApplicationUser.ProfileImageName" />

</p>


<div class="container-fluid">
    <div class="row">
      
        <div>
            @if (Model.Images != null)
            {
                @foreach (var item in Model.Images)
                {

                    <div class="col-md">

                        <div class="card h-100" style="width: 15rem; display: flex">
                            <img src="~/images/items/@item.ImageTitle" class="card-img-top img-fluid img-thumbnail" alt="@item.ImageName" />
                         
                            <div class="card-body">
                                <h5 class="card-title">@item.ImageName</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@item.ClothingCategory</h6>
                                <p class="card-text"> @item.Description</p>
                                <p class="card-text">Color: @item.Color</p>
                                <p class="card-text">Size: @item.Size</p>
                                <p class="card-text">
                                    Status: @item.ItemStatus
                                </p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>

                        </div>
                    </div>
                    <div class="panel-body">
                     
                     
                    </div>

                }
            }
        </div>
    </div>
</div>



<div>
    <a asp-action="Edit" asp-route-id="@Model.ApplicationUser.Id">Edit</a> |
    <a asp-action="UploadProfileFiles" asp-controller="ApplicationUsers" asp-route-id="@Model.ApplicationUser.Id">Upload Profile Image</a> |
    <a asp-action="PostNewImage" asp-controller="Images" asp-route-id="@Model.ApplicationUser.Id">Upload pictures</a>
    <a asp-action="Details" asp-controller="ApplicationUsers" asp-route-id="@Model.ApplicationUser.Id">Details</a>
    <a asp-action="Index">Back to List</a>
</div>

